@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');
@import url("https://fonts.googleapis.com/css?family=Fuzzy%20Bubbles:700|Fuzzy%20Bubbles:400");

html{
    scroll-behavior: smooth;
  }

 
body
{
  margin: 0px;  
  font-family: 'Manrope';
  font-weight: 400;
  background: #150111;  
 
}
 
main{
    margin-left: 20px;
    margin-right: 20px;
}
 
h1,h2, h3, p
{
    text-align: center;
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.title
{
font-size: 300%;
}

 
.navbar{
    background: #1D2B64;  
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); 
    background: linear-gradient(to right, #F8CDDA, #1D2B64); 
    text-align: center;
    position: static;
 
}
 
.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    cursor: pointer;
    transition: .8s;
}
 
nav ul li:hover{
    color: #000;
  }
 

 .navbar li
 {
    font-size: 150%;
 }

.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
 
}
 
.navbar a:hover{
    background-color: hsl(300, 2%, 67%);
}

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.arrow
{
    padding: 10%;
    text-align: center;
}

.steamdeck
{
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 1.5%;
    text-align: center;
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); 
    background: linear-gradient(to right, #F8CDDA, #1D2B64); 

}

.button-steam {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Fuzzy Bubbles';
    font-weight: 400;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .metaguest
  {
      margin-top: 7%;
      margin-bottom: 7%;
      padding: 3%;
      text-align: center;
      background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); 
      background: linear-gradient(to right, #F8CDDA, #1D2B64); 

  }

  .button-guest {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Fuzzy Bubbles';
    font-weight: 400;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .wheel
{
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 2%;
    text-align: center;
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); 
    background: linear-gradient(to right, #F8CDDA, #1D2B64); 

}


.button-wheel {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Fuzzy Bubbles';
    font-weight: 400;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

.names 
{
    text-align: center;
    font-size: 250%;
}


.scroll-page {
    color: #FFFFFF;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .center{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
  }

